# 5. DataFrame 
(pojam za kojeg nisam našao naš adekvatni prijevod)  
<br>
__Upitnik__: Znate li što znači skraćenica TWAIN (kao tehnologija koja se koristi kod scaniranja)?<br> <br>
Kada pogledamo vektore, njegovi elementi svi moraju biti istog tipa.  
Isto vrijedi i za matrice...  
Ali u stvarnom životu nije tako. Vrlo često baratamo sa 'miješanim' podacima.  
U tu svrhu koristimo **dataframe**  
__Primjer__: ukucajte `iris`, da bi vam se ispisao istoimeni dataframe

In [25]:
iris

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1   5.1          3.5         1.4          0.2         setosa
2   4.9          3.0         1.4          0.2         setosa
3   4.7          3.2         1.3          0.2         setosa
4   4.6          3.1         1.5          0.2         setosa
5   5.0          3.6         1.4          0.2         setosa
6   5.4          3.9         1.7          0.4         setosa
7   4.6          3.4         1.4          0.3         setosa
8   5.0          3.4         1.5          0.2         setosa
9   4.4          2.9         1.4          0.2         setosa
10  4.9          3.1         1.5          0.1         setosa
11  5.4          3.7         1.5          0.2         setosa
12  4.8          3.4         1.6          0.2         setosa
13  4.8          3.0         1.4          0.1         setosa
14  4.3          3.0         1.1          0.1         setosa
15  5.8          4.0         1.2          0.2         setosa
16  5.7          4.4         1.5          0.4         setosa
17  5.4          3.9         1.3          0.4         setosa
18  5.1          3.5         1.4          0.3         setosa
19  5.7          3.8         1.7          0.3         setosa
20  5.1          3.8         1.5          0.3         setosa
21  5.4          3.4         1.7          0.2         setosa
22  5.1          3.7         1.5          0.4         setosa
23  4.6          3.6         1.0          0.2         setosa
24  5.1          3.3         1.7          0.5         setosa
25  4.8          3.4         1.9          0.2         setosa
26  5.0          3.0         1.6          0.2         setosa
27  5.0          3.4         1.6          0.4         setosa
28  5.2          3.5         1.5          0.2         setosa
29  5.2          3.4         1.4          0.2         setosa
30  4.7          3.2         1.6          0.2         setosa
⋮   ⋮            ⋮           ⋮            ⋮           ⋮
121 6.9          3.2         5.7          2.3         virginica
122 5.6          2.8         4.9          2.0         virginica
123 7.7          2.8         6.7          2.0         virginica
124 6.3          2.7         4.9          1.8         virginica
125 6.7          3.3         5.7          2.1         virginica
126 7.2          3.2         6.0          1.8         virginica
127 6.2          2.8         4.8          1.8         virginica
128 6.1          3.0         4.9          1.8         virginica
129 6.4          2.8         5.6          2.1         virginica
130 7.2          3.0         5.8          1.6         virginica
131 7.4          2.8         6.1          1.9         virginica
132 7.9          3.8         6.4          2.0         virginica
133 6.4          2.8         5.6          2.2         virginica
134 6.3          2.8         5.1          1.5         virginica
135 6.1          2.6         5.6          1.4         virginica
136 7.7          3.0         6.1          2.3         virginica
137 6.3          3.4         5.6          2.4         virginica
138 6.4          3.1         5.5          1.8         virginica
139 6.0          3.0         4.8          1.8         virginica
140 6.9          3.1         5.4          2.1         virginica
141 6.7          3.1         5.6          2.4         virginica
142 6.9          3.1         5.1          2.3         virginica
143 5.8          2.7         5.1          1.9         virginica
144 6.8          3.2         5.9          2.3         virginica
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

<div style="page-break-after: always;"></div>

### Odmah u "glavu"... ili  u "head"  
Primjetili ste da dataframeovi mogu biti veliki i nije nam uvijek zgodno ispisati ga cijeloga...   
Stoga ćemo koristiti funkciju `head()`  
Isprobajte ga na `iris` dataframeu. Dobiti ćemo samo prvih nekoliko redaka.   
Isprobajte ga i na dataframeu `mtcars`

In [30]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

### Struktura
Funkcijom `str()` možemo steći uvid u strukturu nekog dataframea  
Isprobajte ju na `iris`

In [35]:
str(iris)

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

### Prvi DataFrame
Pa, kreirajmo naš prvi dataframe.   
Postupak je sličan kao i kod kreiranja matrice, samo što ovaj put ne moramo paziti da su nam svi vektori istog tipa.  
Kreirajmo najprije nekoliko vektora:

In [40]:
tjedan_v <- c('pon', 'uto', 'sri', 'čet', 'pet')
potrosnja_v <- c(11, 12, 13, 14, 15)
suncano_v <- c(T, F, T, T, T, F)

Sada naredbom `data.frame` kreiramo dataframe `troskovi_df` od ovih vektora:

In [39]:
troskovi_df <- data.frame(tjedan_v, potrosnja_v, suncano_v)

Bez brige, pogreška je namjerna...  
Da bi kreirali dataframe od vektora, svi vektori moraju biti iste duljine.  
Dakle ispravite vektor suncano tako da obrišete posljednju vrijednost (onaj F).   Nemojte zaboraviti opet stisnuti 'ctrl + enter'.

### zadatak
Ispišite prvih nekoliko redaka našeg dataframea, a zatim ispišite njegovu strukturu.

In [41]:
head(troskovi_df)

  tjedan_v potrosnja_v suncano_v
1 pon      11           TRUE
2 uto      12          FALSE
3 sri      13           TRUE
4 čet      14           TRUE
5 pet      15           TRUE

In [42]:
str(troskovi_df)

'data.frame':	5 obs. of  3 variables:
 $ tjedan_v   : chr  "pon" "uto" "sri" "čet" ...
 $ potrosnja_v: num  11 12 13 14 15
 $ suncano_v  : logi  TRUE FALSE TRUE TRUE TRUE

### zadatak (zadaci)
Ispišite potrošnju za pon, srijedu i petak

In [49]:
troskovi_df[c(1,3,5), 'potrosnja_v']
troskovi_df$potrosnja_v[c(1,3,5)]

[1] 11 13 15

[1] 11 13 15

  tjedan_v potrosnja_v
1 pon      11
2 uto      12
3 sri      13

Napravite dataframe pod nazivom `tros_df` u kojega ćete ubaciti prva tri retka i prva dva stupca dataframe-a `troskovi_df`.

In [ ]:
tros_df <- troskovi_df[c(1:3), c(1:2)]
tros_df

Dodajte u dataframe `troskovi_df` oblačnu subotu kada je bio trošak 20.

In [71]:
tjedan_v <- c('sub')
potrosnja_v <- c(20)
suncano_v <- c(F)
novi_df <- data.frame(tjedan_v, potrosnja_v, suncano_v)
t_df <- rbind(troskovi_df, novi_df)
t_df

  tjedan_v potrosnja_v suncano_v
1 pon      11           TRUE
2 uto      12          FALSE
3 sri      13           TRUE
4 čet      14           TRUE
5 pet      15           TRUE
6 sub      20          FALSE

Da li je bilo sunčano u srijedu?

In [54]:
troskovi_df[3,3]
troskovi_df[3, 'suncano_v']
troskovi_df$suncano_v[3]

[1] TRUE

[1] TRUE

[1] TRUE

### zadatak
U vektor `pot_v` unesite svu potrošnju od utorka do petka.  
Zatim ga ispišite

In [69]:
pot_v <- troskovi_df[2:5,2]
pot_v <- troskovi_df[2:5,'potrosnja_v']
pot_v <- troskovi_df$potrosnja_v[2:5]
pot_v

[1] 12 13 14 15