# 5. Liste
Liste su objekti koji mogu sadržavati elemente različitih tipova, uključujući i druge objekte poput liste, matrice, funkcije, itd.  
Liste se stvaraju pomoću funkcije `list()`.  
Liste su jednodimenzionalne strukture podataka, iako elementi unutar liste mogu biti višedimenzionalni.

_**Primjer**_  
Kreirat ćemo listu mjerenje, koja će sadržavati dan u tjednu ('pon'), potrošnju (11) i logičku varijablu sunčano (TRUE).

In [46]:
mjerenje <- list('pon', 11, TRUE)
mjerenje

[[1]]
[1] "pon"

[[2]]
[1] 11

[[3]]
[1] TRUE

U _**R studiju**_ ispis će izgledati ovako:  
```r
[[1]]
[1] "pon"

[[2]]
[1] 11

[[3]]
[1] TRUE
```

Svaki element liste označen je dvostrukom uglatom zagradom [[ ]] i tako im se može i pristupati.  
Na primjer drugom elementu naše liste možemo pristupiti sa `mjerenje[[2]]`

In [47]:
mjerenje[[2]]

[1] 11

Kako i kod vektora, elementima liste možemo pridružiti imena.  
To se i u ovom slučaju radi funkcijom `names()`

In [48]:
names(mjerenje) <- c('tjedan', 'potrošnja', 'sunčano')
mjerenje

$tjedan
[1] "pon"

$potrošnja
[1] 11

$sunčano
[1] TRUE

To smo mogli dobiti i na način da smo napisali sve zajedno na način:
```r 
mjerenje <- list(tjedan='pon', potrošnja=11, sunčano=TRUE)
```

Sada kada smo imenovali elemente liste, možemo im pristupati koristeći znak `$`  kao i kod podatkovnih okvira.  
Da bi ispisali dan u tjednu iz naše liste `mjerenje`, dovoljno je napisati:

In [49]:
mjerenje$tjedan

[1] "pon"

###Dodavanje elementa u listu
Novi element liste može se dodati direktno pridruživanjem:

In [50]:
mjerenje[[4]] <- 0
mjerenje

$tjedan
[1] "pon"

$potrošnja
[1] 11

$sunčano
[1] TRUE

[[4]]
[1] 0

Kao što vidimo ova vrijednost još nema ime.  
Pridružimo nova imena listi, koja uključuju i "padaline".

In [51]:
names(mjerenje) <- c('tjedan', 'potrošnja', 'sunčano', 'padaline')
mjerenje

$tjedan
[1] "pon"

$potrošnja
[1] 11

$sunčano
[1] TRUE

$padaline
[1] 0

To se moglo napraviti i u jednom koraku naredbom:

In [53]:
mjerenje$padaline <- 5

###Brisanje elemenata liste
Element liste (ali i drugih objekata) brišemo tako da mu pridružimo vrijednost NULL.

In [57]:
mjerenje$padaline <- NULL
mjerenje

$tjedan
[1] "pon"

$potrošnja
[1] 11

$sunčano
[1] TRUE

$names
[1] "tjedan"    "potrošnja" "sunčano"